<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@movie.image_url) %>
</p>

<p>
<%= link_to 'Edit', edit_movie_path %> | <%= link_to 'Delete', movie_path,
              method: :delete,
              data: { confirm: 'Are you sure?' } %>  | <%= link_to 'Back', movies_path %>
